html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  background: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: coral;
  letter-spacing: 1px;
}

/* NAV */

nav {
  height: 12vh;
  display: flex;
  align-items: center;
  background: white;
  justify-content: center;
  border-bottom: 2px solid rgb(247, 175, 49);
}

.nav__heading {
  color: coral;
  font-size: 3rem;
  margin: 20px 0 0 0;
  border-bottom: 3px dotted lightsalmon;
}

.nav__logo {
  margin-right: 5px;
  color: rgb(247, 175, 49);
}

.nav__subheading {
  font-size: 1.75rem;
  margin-top: 3px;
  justify-self: center;
  color: coral;
}

/* GRIDS */

.grid {
  display: grid;
}

.grid--1x2 {
  grid-template-columns: repeat(2, 1fr);
}

/* HERO */

.hero__image {
  clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 81% 100%);
  width: 50vw;
  height: 100vh;
}

/* SPECS */

.specs__container {
  height: 70vh;
  margin-right: 30px;
  max-width: 600px;
  justify-self: center;
}

.specs__heading {
  justify-self: center;
  color: white;
  font-size: 6.5rem;
  margin: 40px 0 0 25px;
  height: 70px;
  text-decoration: underline;
}

.specs {
  justify-self: right;
  align-self: center;
  font-size: 3.25rem;
  color: white;
  margin: 10px 0;
}

/* INPUTS */

.dropdown {
  color: white;
  justify-self: center;
  align-self: center;
  font-size: 3.25rem;
  margin: 10px 0;
  font-weight: 600;
}

#meal__dropdown {
  width: 300px;
  height: 40px;
  font-size: 2.5rem;
  border: 1px solid black;
  outline: 0;
  border-radius: 10px;
}

.recipe__button {
  width: 400px;
  height: 75px;
  justify-self: center;
  color: black;
  background: white;
  border: 3px solid black;
  border-radius: 50px;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 20px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  transform: translateY(3px);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #0d8f08;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0d8f08;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
